github "Alamofire/Alamofire" ~> 4.0
github "Alamofire/AlamofireImage" ~> 3.2
github "LeoNatan/LNPopupController" "5a6bd3038af53989f468609ce3670d10647e9cea"
github "mxcl/PromiseKit"
github "thii/SwiftHEXColors"
github "thoughtbot/Argo"
github "thoughtbot/Curry"
github "tristanhimmelman/HidingNavigationBar" ~> 1.0
